dist-newstyle/
dist/
cabal.project.local
cabal.project.local~
cabal.project.freeze

*.hi
*.o
*.chi
*.chs.h
*.dyn_hi
*.dyn_o

.hls/
.ghc.environment.*
.vscode/
*.swp
*.swo

.DS_Store

.stack-work/

*.tix
*.mix
hpc/
